<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.UserMapper">
    <update id="updateStudentPassword">
        update project.tb_student set
        tb_student.password = #{password} where id=#{id}
    </update>
    <update id="updateTeacherPassword">
        update project.tb_teacher set
            tb_teacher.password = #{password} where id=#{id}
    </update>

    <!--    验证登录-->
    <select id="selectFromRoot" resultType="com.pojo.User">
        select * from project.tb_root where id=#{id} and password=#{password};
    </select>
    <select id="selectFromTeacher" resultType="com.pojo.User">
        select * from project.tb_teacher where id=#{id} and password=#{password};
    </select>
    <select id="selectFromStudent" resultType="com.pojo.User">
        select * from project.tb_student where id=#{id} and password=#{password};
    </select>
    <select id="showStudentInfo" resultType="com.pojo.User">
        select * from project.tb_student where id=#{id}
    </select>
    <select id="showTeacherInfo" resultType="com.pojo.User">
        select * from project.tb_teacher where id=#{id}
    </select>


</mapper>